mixin video(video)
    a(href=`/video/${video._id}`)
        div(style=`width:330px; height:180px; background-image:url(/${video.thumbUrl}); background-size:cover; background-position: center;`)
        div 
            if video.owner.avatarUrl !== ""
                img(src=video.owner.avatarUrl.includes("github") ? video.owner.avatarUrl : "/" + video.owner.avatarUrl)
            div
                span=video.title
                span=video.owner.name
                span #{video.meta.view} 회