mixin video(video)
    a(href=`/video/${video._id}`).video__link
        div.link__container 
            div(style=`background-image:url(${isHeroku ? video.thumbUrl : "/" + video.thumbUrl});`).link__thumb
            div.link__content 
                if video.owner.avatarUrl === ""
                    div.default-avatar
                        i.fas.fa-user
                else    
                    img(src=isHeroku ? video.owner.avatarUrl : "/" + video.owner.avatarUrl crossorigin)
                div.link__info
                    span=video.title
                    span=video.owner.name
                    span 조회수 #{video.meta.view} 회

        