extends ../base

block content
    video(src="/"+video.fileUrl controls=true)
    h1=video.title
    h2=video.description
    span=video.hashtags 
    hr
    a(href=`${video._id}/edit`) Edit Video  
    br
    a(href=`${video._id}/delete`) Delete Video  