extends ../base

block content
    video(src="/"+video.fileUrl controls=true)
    div 
        h3=video.title
        ul
            each hashtag in video.hashtags
                li=hashtag
        div     
            span 조회수 #{video.meta.view}회
            span=video.createdAt
        div 
            if video.owner.avatarUrl !== ""
                img(src=video.owner.avatarUrl.includes("github") ? video.owner.avatarUrl : "/" + video.owner.avatarUrl)
            a(href=`/user/${video.owner._id}`)=video.owner.name
        p=video.description
    if String(loggedInUser._id) === String(video.owner._id)
        hr
        a(href=`${video._id}/edit`) Edit Video  
        br
        a(href=`${video._id}/delete`) Delete Video  