extends ../base

block content
    div.video__box(data-id=video._id)
        video(src="/"+video.fileUrl ).video__player
        div.video__controller
            div.controller__play
                i.fas.fa-play
            div.controller__timestamp 
                span.timestamp__start 00:00
                span /
                span.timestamp__end 00:00
            div.controller__timeline
                input(type="range" value=0 step=0.01)
            div.controller__volume
                input(type="range" min=0 max=1 step=0.01 value=0.5)
                i.fas.fa-volume-up
            div.controller__mode 
                i.fas.fa-expand
    div.video__content 
        ul.content__hash
            each hashtag in video.hashtags
                a(href=`/search/?search=${hashtag.substring(1)}`)=hashtag
        h3.content__title=video.title
        div.content__meta     
            span 조회수 #{video.meta.view}회
            span=video.createdAt
        div.content__avatar
            if video.owner.avatarUrl === ""
                div.default__avatar
                    i.fas.fa-user
            else
                img(src=video.owner.avatarUrl.includes("github") ? video.owner.avatarUrl : "/" + video.owner.avatarUrl)
            div.avatar__content
                a(href=`/user/${video.owner._id}`)=video.owner.name
                p=video.description
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video._id}/edit`) Edit Video  
            br
            a(href=`${video._id}/delete`) Delete Video  
    if loggedIn
        div.video__add-comments 
            form.comments__form 
                textarea(name="", cols="30", rows="10" placeholder="Write a Comment")
                button Add Comment 
    div.video__comments 
        span.comments__count #{video.comments.length <= 1 ? `${video.comments.length} comment` : `${video.comments.length} comments`} 
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    a(href=`/user/${comment.owner._id}`)
                        if comment.owner.avatarUrl === ""
                            div.comment__avatar
                                i.fas.fa-user
                        else 
                            img(src="/"+comment.owner.avatarUrl)
                    span.video__comment__text=comment.text
                    if comment.thumbs.filter((id) => id === loggedInUser._id)[0] !== undefined
                        i.fas.fa-thumbs-up.comment__thumb.comment__thumb--clicked
                    else 
                        i.fas.fa-thumbs-up.comment__thumb
                    span.thumb__count=comment.thumbs.length
                    if String(loggedInUser._id) === String(comment.owner._id)
                        span.video__comment__edit Edit
                        span.video__comment__delete Delete
                        form.comment__edit-form.hidden
                            input(type="text" value=comment.text placeholder="Write a Comment")
                            button Edit 
                            button(type="button").comment__cancelBtn Cancel 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/comment.js")