extends ../base

block content
    div.user-edit.form__page
        div.form__container
            h1 Edit #{user.name} profile
            if errorMessage 
                span=errorMessage
            form(method="POST" enctype="multipart/form-data").form
                input(type="file" id="avatar" name="avatar" accept="image/*")
                input(type="text" placeholder="ID" id="user-id" name="userId" required value=user.userId)
                input(type="email" placeholder="E-Mail" id="email" name="email" required value=user.email)
                input(type="text" placeholder="Name" id="name" name="name" required value=user.name)         
                div.form__btn
                    input(type="submit" value="Edit").form__submit
                div.form__link
                    a(href="/user/change-password") Change Password 
                    br
                    a(href="/user/delete") Delete Profile 